.logo {
  justify-self: center;
  font-size: 26px;
  font-weight: 700;
  background: linear-gradient(135deg, #e91e63, #ff4d8d);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  letter-spacing: -0.5px;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.nav-left {
  justify-self: start;
}

.nav-right {
  justify-self: end;
}
